<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Villa Transporte</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css">
    <link href="/bootstrap/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Villa Transporte</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/company">Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <!--<h1 class="display-4 text-white mt-5 mb-2">Business Name or Tagline</h1>-->
                    <img class="img-fluid" src="/images/logo.png" alt="">
                    <p class="lead mb-5 text-white-50">Ajudamos pessoas a encontrar a melhor opção para o seu carreto ou mudança.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>
                    <%= links.nome %>
                </h2>
                <hr>
                <p>
                    <h3>Carreto em
                        <%= links.nome %>
                    </h3>

                    Villa Transporte é uma empresa especializada em carreto e mudança e realizado serviço com toda segurança e pontualidade. Profissionais preparados e qualificados para transportar a sua mudança, sem danificar seus móveis. Atendemos todos os bairros do estado
                    de SP e alguns do estado MG, PR e SC ,Interior e Litoral Villa Transporte atua em vários bairros de São Paulo incluindo bairro de
                    <%= links.nome %>, ou seja onde você estiver pode contar com nossos serviços e profissionais qualificados.</p>
                <a class="btn btn-primary btn-lg" href="/budget">Orçamento &raquo;</a>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Contate-Nos
                </h2>
                <hr>
                <address>
          <strong>Villa Transporte</strong>

        </address>
                <address>
          <abbr title="Phone">Telefone:</abbr>
          (11) 95332-3138 / 
          (11) 97721-2449
          <br>
          <abbr title="Email">E-mail:</abbr>
          <a href="mailto:#">villa.transportes@hotmail.com</a>
        </address>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="/images/mount.png" alt="mount" style="width: 300px; height: 200px;">
                    <div class="card-body">
                        <h4 class="card-title">Montagem e desmontagem de móveis</h4>
                        <p class="card-text">Equipe especializada para realizar a desmontagem dos móveis e fazer a remontagem no destino.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/furniture" class="btn btn-primary">Saiba mais!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="/images/embalagem.png" alt="embalagem" style="width: 300px; height: 200px;">
                    <div class="card-body">
                        <h4 class="card-title">Embalagem</h4>
                        <p class="card-text">Se necessário, realizamos a embalagem de qualquer item para o transporte ser mais seguro!</p>
                    </div>
                    <div class="card-footer">
                        <a href="/packing" class="btn btn-primary">Saiba mais!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="/images/atendimento.png" alt="call" style="width: 300px; height: 200px;">
                    <div class="card-body">
                        <h4 class="card-title">Atendimento ágil</h4>
                        <p class="card-text">Faça seu orçamento pelo site ou entrando em contato conosco que iremos te retornar o mais rápido possível!</p>
                    </div>
                    <div class="card-footer">
                        <a href="/attendance" class="btn btn-primary">Saiba mais!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <h1 class="links">
            <center>Carretos e mudanças nas regiões:</center>
        </h1>
        <div class="container">
            <a href="/carretos-mudancas-Aclimacao">
                <button class="btn" name="region">Aclimacao</button>
            </a>
            <a href="/carretos-mudancas-agua-fria">
                <button class="btn" name="region">Água fria</button>
            </a>
            <a href="/carretos-mudancas-Alphaville">
                <button class="btn" name="region">Alphaville</button>
            </a>
            <a href="/carretos-mudancas-Aricanduva">
                <button class="btn" name="region">Aricanduva</button>
            </a>
            <a href="/carretos-mudancas-Artur-Alvin">
                <button class="btn" name="region">Artur Alvin</button>
            </a>
            <a href="/carretos-mudancas-Assuncao">
                <button class="btn" name="region">Assunção</button>
            </a>
            <a href="/carretos-mudancas-Baeta-Neves">
                <button class="btn" name="region">Baeta Neves</button>
            </a>
            <a href="/carretos-mudancas-Bairro-dos-Casas">
                <button class="btn" name="region">Bairro dos Casas</button>
            </a>
            <a href="/carretos-mudancas-Barcelona">
                <button class="btn" name="region">Barcelona</button>
            </a>
            <a href="/carretos-mudancas-Barra-funda">
                <button class="btn" name="region">Barra funda</button>
            </a>
            <a href="/carretos-mudancas-Bauru">
                <button class="btn" name="region">Bauru</button>
            </a>
            <a href="/carretos-mudancas-Bela-Vista">
                <button class="btn" name="region">Bela Vista</button>
            </a>
            <a href="/carretos-mudancas-Belem">
                <button class="btn" name="region">Belém</button>
            </a>
            <a href="/carretos-mudancas-Bom-retiro">
                <button class="btn" name="region">Bom retiro</button>
            </a>
            <a href="/carretos-mudancas-Brooklin">
                <button class="btn" name="region">Brooklin</button>
            </a>
            <a href="/carretos-mudancas-Butanta">
                <button class="btn" name="region">Butantã</button>
            </a>
            <a href="/carretos-mudancas-Cambuci">
                <button class="btn" name="region">Cambuci</button>
            </a>
            <a href="/carretos-mudancas-Camilopolis">
                <button class="btn" name="region">Camilópolis</button>
            </a>
            <a href="/carretos-mudancas-Campestre">
                <button class="btn" name="region">Campestre</button>
            </a>
            <a href="/carretos-mudancas-Campinas">
                <button class="btn" name="region">Campinas</button>
            </a>
            <a href="/carretos-mudancas-Campo-Belo">
                <button class="btn" name="region">Campo Belo</button>
            </a>
            <a href="/carretos-mudancas-Caraguatatuba">
                <button class="btn" name="region">Caraguatatuba</button>
            </a>
            <a href="/carretos-mudancas-Carrao">
                <button class="btn" name="region">Carrão</button>
            </a>
            <a href="/carretos-mudancas-Casa-Verde">
                <button class="btn" name="region">Casa Verde</button>
            </a>
            <a href="/carretos-mudancas-Cidade-a-e-Carvalho">
                <button class="btn" name="region">Cidade a.e Carvalho</button>
            </a>
            <a href="/carretos-mudancas-Cidade-líder">
                <button class="btn" name="region">Cidade líder</button>
            </a>
            <a href="/carretos-mudancas-Consolacao">
                <button class="btn" name="region">Consolação</button>
            </a>
            <a href="/carretos-mudancas-Dermarchi">
                <button class="btn" name="region">Dermarchi</button>
            </a>
            <a href="/carretos-mudancas-Diadema">
                <button class="btn" name="region">Diadema</button>
            </a>
            <a href="/carretos-mudancas-Ferrazopolis">
                <button class="btn" name="region">Ferrazopolis</button>
            </a>
            <a href="/carretos-mudancas-Freguesia-do-O">
                <button class="btn" name="region">Freguesia do O</button>
            </a>
            <a href="/carretos-mudancas-Guarulhos">
                <button class="btn" name="region">Guarulhos</button>
            </a>
            <a href="/carretos-mudancas-Ipiranga">
                <button class="btn" name="region">Ipiranga</button>
            </a>
            <a href="/carretos-mudancas-Itanhaem">
                <button class="btn" name="region">Itanhaém</button>
            </a>
            <a href="/carretos-mudancas-Itaquera">
                <button class="btn" name="region">Itaquera</button>
            </a>
            <a href="/carretos-mudancas-Jaguare">
                <button class="btn" name="region">Jaguaré</button>
            </a>
            <a href="/carretos-mudancas-Jardim">
                <button class="btn" name="region">Jardim</button>
            </a>
            <a href="/carretos-mudancas-Jardim-Alzira-Franco">
                <button class="btn" name="region">Jardim Alzira Franco</button>
            </a>
            <a href="/carretos-mudancas-Jardim-das-Maravilhas">
                <button class="btn" name="region">Jardim das Maravilhas</button>
            </a>
            <a href="/carretos-mudancas-Jundiai">
                <button class="btn" name="region">Jundiaí</button>
            </a>
            <a href="/carretos-mudancas-Lapa">
                <button class="btn" name="region">Lapa</button>
            </a>
            <a href="/carretos-mudancas-Liberdade">
                <button class="btn" name="region">Liberdade</button>
            </a>
            <a href="/carretos-mudancas-Limao">
                <button class="btn" name="region">Limão</button>
            </a>
            <a href="/carretos-mudancas-Mandaqui">
                <button class="btn" name="region">Mandaqui</button>
            </a>
            <a href="/carretos-mudancas-Maua">
                <button class="btn" name="region">Mauá</button>
            </a>
            <a href="/carretos-mudancas-Moema">
                <button class="btn" name="region">Moema</button>
            </a>
            <a href="/carretos-mudancas-Mooca">
                <button class="btn" name="region">Mooca</button>
            </a>
            <a href="/carretos-mudancas-Morumbi">
                <button class="btn" name="region">Morumbi</button>
            </a>
            <a href="/carretos-mudancas-Nova-Gerty">
                <button class="btn" name="region">Nova Gerty</button>
            </a>
            <a href="/carretos-mudancas-Osasco">
                <button class="btn" name="region">Osasco</button>
            </a>
            <a href="/carretos-mudancas-Paraiso">
                <button class="btn" name="region">Paraíso</button>
            </a>
            <a href="/carretos-mudancas-Parque-das-Nacoes">
                <button class="btn" name="region">Parque das Nações</button>
            </a>
            <a href="/carretos-mudancas-Parque-do-Carmo">
                <button class="btn" name="region">Parque do Carmo</button>
            </a>
            <a href="/carretos-mudancas-Parque-Sao-Lucas">
                <button class="btn" name="region">Parque São Lucas</button>
            </a>
            <a href="/carretos-mudancas-Pauliceia">
                <button class="btn" name="region">Paulicéia</button>
            </a>
            <a href="/carretos-mudancas-Penha">
                <button class="btn" name="region">Penha</button>
            </a>
            <a href="/carretos-mudancas-Perdizes">
                <button class="btn" name="region">Perdizes</button>
            </a>
            <a href="/carretos-mudancas-Pinheiros">
                <button class="btn" name="region">Pinheiros</button>
            </a>
            <a href="/carretos-mudancas-Pompeia">
                <button class="btn" name="region">Pompéia</button>
            </a>
            <a href="/carretos-mudancas-Ponte-rasa">
                <button class="btn" name="region">Ponte rasa</button>
            </a>
            <a href="/carretos-mudancas-Praia-Grande">
                <button class="btn" name="region">Praia Grande</button>
            </a>
            <a href="/carretos-mudancas-Ribeirao-Pires">
                <button class="btn" name="region">Ribeirão Pires</button>
            </a>
            <a href="/carretos-mudancas-Rudge-Ramos">
                <button class="btn" name="region">Rudge Ramos</button>
            </a>
            <a href="/carretos-mudancas-Santa-Cecilia">
                <button class="btn" name="region">Santa Cecília</button>
            </a>
            <a href="/carretos-mudancas-Santana">
                <button class="btn" name="region">Santana</button>
            </a>
            <a href="/carretos-mudancas-Santo-Amaro">
                <button class="btn" name="region">Santo Amaro</button>
            </a>
            <a href="/carretos-mudancas-Santo-Andre">
                <button class="btn" name="region">Santo André</button>
            </a>
            <a href="/carretos-mudancas-Santos">
                <button class="btn" name="region">Santos</button>
            </a>
            <a href="/carretos-mudancas-Sao-Bernardo-do-Campo">
                <button class="btn" name="region">São Bernardo do Campo</button>
            </a>
            <a href="/carretos-mudancas-Sao-Caetano-do-Sul">
                <button class="btn" name="region">São Caetano do Sul</button>
            </a>
            <a href="/carretos-mudancas-Sao-Jose-dos-Campos">
                <button class="btn" name="region">São José dos Campos</button>
            </a>
            <a href="/carretos-mudancas-Sao-Mateus">
                <button class="btn" name="region">São Mateus</button>
            </a>
            <a href="/carretos-mudancas-Sao-Miguel-Paulista">
                <button class="btn" name="region">São Miguel Paulista</button>
            </a>
            <a href="/carretos-mudancas-Sapopemba">
                <button class="btn" name="region">Sapopemba</button>
            </a>
            <a href="/carretos-mudancas-Saude">
                <button class="btn" name="region">Saúde</button>
            </a>
            <a href="/carretos-mudancas-Sorocaba">
                <button class="btn" name="region">Sorocaba</button>
            </a>
            <a href="/carretos-mudancas-Taboao">
                <button class="btn" name="region">Taboão</button>
            </a>
            <a href="/carretos-mudancas-Tatuape">
                <button class="btn" name="region">Tatuapé</button>
            </a>
            <a href="/carretos-mudancas-Taubate">
                <button class="btn" name="region">Taubaté</button>
            </a>
            <a href="/carretos-mudancas-Tucuruvi">
                <button class="btn" name="region">Tucuruvi</button>
            </a>
            <a href="/carretos-mudancas-Utinga">
                <button class="btn" name="region">Utinga</button>
            </a>
            <a href="/carretos-mudancas-Val-Paraiso">
                <button class="btn" name="region">Val Paraíso</button>
            </a>
            <a href="/carretos-mudancas-Vila-Alpina">
                <button class="btn" name="region">Vila Alpina</button>
            </a>
            <a href="/carretos-mudancas-Vila-Bertioga">
                <button class="btn" name="region">Vila Bertioga</button>
            </a>
            <a href="/carretos-mudancas-Vila-Ema">
                <button class="btn" name="region">Vila Ema</button>
            </a>
            <a href="/carretos-mudancas-Vila-Formosa">
                <button class="btn" name="region">Vila Formosa</button>
            </a>
            <a href="/carretos-mudancas-Vila-Guilherme">
                <button class="btn" name="region">Vila Guilherme</button>
            </a>
            <a href="/carretos-mudancas-Vila-Leopoldina">
                <button class="btn" name="region">Vila Leopoldina</button>
            </a>
            <a href="/carretos-mudancas-Vila-Luzita">
                <button class="btn" name="region">Vila Luzita</button>
            </a>
            <a href="/carretos-mudancas-Vila-Maria">
                <button class="btn" name="region">Vila Maria</button>
            </a>
            <a href="/carretos-mudancas-Vila-Mariana">
                <button class="btn" name="region">Vila Mariana</button>
            </a>
            <a href="/carretos-mudancas-Vila-Matilde">
                <button class="btn" name="region">Vila Matilde</button>
            </a>
            <a href="/carretos-mudancas-Vila-Nhocune">
                <button class="btn" name="region">Vila Nhocune</button>
            </a>
            <a href="/carretos-mudancas-Vila-oratorio">
                <button class="btn" name="region">Vila oratório</button>
            </a>
            <a href="/carretos-mudancas-Vila-Palmares">
                <button class="btn" name="region">Vila Palmares</button>
            </a>
            <a href="/carretos-mudancas-Vila-Prudente">
                <button class="btn" name="region">Vila Prudente</button>
            </a>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>